@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://db.onlinewebfonts.com/c/7e3af031676fa15d981440d56cf4773a?family=Metropolis1920+Regular');
.font1
{font-family: "Open Sans Condensed";
font-style: normal;
font-weight: 500;

font-size: 14px;
line-height: 30px;
letter-spacing: 2px; 
}
.font-pop{
  font-family: "Poppins", sans-serif;

}
.font11
{font-family: "Open Sans Condensed";
font-style: normal;

color: rgb(255, 255, 255);
font-size: 2.5rem;
line-height: 50px;
letter-spacing: 12px; 
 color: rgb(201, 171, 129);
}
.font2 {
  font-family: 'Miniver', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: rgb(201, 171, 129);
}
.font22{
  font-family: 'Miniver', sans-serif; 

}
.font3 {
  font-family: 'caviar_dreamsbold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: rgb(201, 171, 129);
}
.hero-text {
 font-family: "Metropolis1920 Regular";
  font-weight: 100;
  font-style: normal;
  font-size: 7rem;
  line-height: 145px;
  color: rgb(201, 171, 129);
}
.font4{
     font-family: "Josefin Sans", sans-serif;
}

